/* Style for Extra Large Screen */
@media (max-width:3920px) {
    .btn-sq-responsive {
    width: 200px !important;
    max-width: 100% !important;
    max-height: 100% !important;
    height: 200px !important;
    font-size:24px;
    }
    }
    
    /* Style for Large Screen */
    @media (max-width:991px) {
    .btn-sq-responsive {
    width: 150px !important;
    max-width: 100% !important;
    max-height: 100% !important;
    height: 150px !important;
    font-size:18px;
    }
    }
    
    /* Style for Medium Screen */
    @media (max-width:767px) {
    .btn-sq-responsive {
    width: 100px !important; /* whatever width you want for medium screen */
    max-width: 100% !important;
    max-height: 100% !important;
    height: 100px !important; /* whatever height you want for medium screen */
    font-size:12px;
    }
    }
    
    /* Style for Small Screen */
    @media (max-width:575px) {
    .btn-sq-responsive {
    width: 50px !important; /* whatever width you want for mobile screen */
    max-width: 100% !important;
    max-height: 100% !important;
    height: 50px !important; /* whatever height you want for mobile screen */
    font-size:5px;
    padding: 0px;
    font-size:7px;
    }
    }