{% extends "layout.html" %}
{% block body %}


    
    <div class="container my-5">
            <h1>Contact Us - PixelShift</h1>
            <p>If you have any questions, comments, or concerns related to PixelShift, we are here to help. Our customer support team is available to assist you through multiple channels, so you can choose the one that works best for you.</p>
    
            <div class="row">
                <div class="col-md-6">
                    <div class="contact-method">
                        <i class="contact-method-icon fas fa-envelope"></i>
                        <span class="contact-method-title">Email Support</span>
                        <div class="contact-method-description">You can send us an email at <a href="mailto:pulkitpareekofficial@gmail.com">pulkitpareekofficial@gmail.com</a> and we’ll get back to you as soon as possible. Our team is available to answer your questions and provide assistance with any issues you may be experiencing on PixelShift.</div>
                    </div>
                </div> <p>We value your feedback and are committed to providing you with the best possible service on PixelShift. If you have any suggestions on how we can improve our website or services, please let us know. Our team is always looking for ways to enhance the customer experience on PixelShift and we appreciate any feedback you can provide.</p>
    
            <p>Thank you for choosing PixelShift. We look forward to hearing from you!</p>
    
{% endblock %}