{% extends "layout.html" %}

  {% block title %}PixelShift - Convert your Images Online{% endblock %}
 
  {% block navbar %}{{ super() }}{% endblock %}

{% block body %}
  <div id="alert" style="position: absolute; right: 0;" class="mx-3 my-3 d-flex justify-content-end"></div>
  
  <div style="height: 52px" class="text-center justify-content-center">
    <div id="spinner" style="display: none;" class="spinner-border mt-3" role="status">
    </div>
  </div>
  
  <div>
    <div class="container my-0" method="post" enctype="multipart/form-data">
      <form id="data" class="m-2" action="/api/convert" method="post" enctype="multipart/form-data">
        <div class="mb-3">
          <input required type="file" name="file" accept="image/*" class="form-control" id="customFile" />
        </div>
        <input value="" type="hidden" id="imageFormatInput" name="operation">
        <h2>Convert Image to:</h2>
        <div id="features" class="row my-5 text-center">
          {% for value in values %}
          <div class="col-md-3">
            <button onclick="selectMe(this)" data-convert="{{value[0]}}"
              class="btn btn-info btn-sq-responsive m-2">{{value[1]}}</button>
          </div>
          {% endfor %}
        </div>
      </form>
    </div>
  </div>
{% endblock %}
  <script src="{{ url_for('static', filename='js/script.js') }}"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
    crossorigin="anonymous"></script>
</body>

</html>